<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>

    <script type="text/javascript">

    if (screen.width > 699){

        window.location = "http://shops-app.herokuapp.com/desktop";
    }
    </script>

    <link rel="icon" href="../static/img/shops.png" type="image/gif" sizes="16x16">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shops</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
body {margin:0;}

.icon_bar {
	position: fixed;
   
	bottom: 0;
	width: 100%;
    text-align: center;
    background-color: #00BFFF;
    overflow: auto;
    z-index: 99999;
}
.icon_bar a {
    width: 20%;
    float: left;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}
.icon_bar a:hover {
    background-color: #01B5F0;
}

.active {
    background-color: #58D3F7 !important;
}
</style>

           <style> #results { color:black;  }

        #load{
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    position:fixed;
    z-index:9999;
    background:url("../static/img/flickr.gif") 50% 50% no-repeat rgb(255,255,255);
}


        </style>


</head>

<body id="page-top" class="index">
<div class="icon_bar">
  <a  href="http://shops-app.herokuapp.com/shops"><i class="fa fa-arrow-up"></i></a>
  <a class="active" href="http://shops-app.herokuapp.com/my-space"><i class="fa fa-home"></i></a>
  <a href="http://shops-app.herokuapp.com/favorites"><i class="fa fa-heart"></i></a>
  <a href="http://shops-app.herokuapp.com/history"><i class="fa fa-history"></i></a>
  <a href="http://shops-app.herokuapp.com/marketplace"><i class="fa fa-users"></i></a>
</div>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

<a class="navbar-toggle" href="http://shops-app.herokuapp.com/search_page"><i class="fa fa-search" aria-hidden="true"></i></a>
         <a class="navbar-brand" href="#page-top">  Shops  </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	    <!-- SEARCH -->
		                     <div class="col-sm-3 col-md-3">
        <form method="post" action="/search" class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" name="add" class="form-control" placeholder="Smart-Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div>	    
		    <!-- END -->
   <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                       <li class="page-scroll">
                        <a href="http://shops-app.herokuapp.com/shops"><i class="fa fa-arrow-up"></i>  Top-Shop</a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://shops-app.herokuapp.com/my-space"><i class="fa fa-home"></i>  My-Space</a>
                    </li>
                    
                      <li class="page-scroll">
                        <a href="http://shops-app.herokuapp.com/favorites"><i class="fa fa-heart"></i>  My Favorites</a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://shops-app.herokuapp.com/history"><i class="fa fa-history"></i>  My History</a>
                    </li>
                                        <li class="page-scroll">
                        <a href="http://shops-app.herokuapp.com/marketplace"><i class="fa fa-users"></i>  Market Place</a>
                    </li>
                                                            <li class="page-scroll">
                        <a href="http://shops-app.herokuapp.com/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a>
                    </li>

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header --> <!-- 
    <header>
        <div class="container">
            <div class="row">
         
		  <div class="col-lg-12">
          
                    <div class="intro-text">
                        <span class="name">Shopping Is Easy!</span>
                        <hr class="star-light">
                        <span class="skills">with Dinero</span>
                    </div>
					</div>

 </div>
        </div>
    </header>
--> 

               <center><div id="load"></div></center>
<div id="contents">

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                	<p style="padding-top: 10px"></p>
                    <h2>My Space</h2>
                  <!--           <hr class="star-primary"> -->
                  <p style="padding-top: 5px"></p>
                  <p><b>Hello, </b>{{username}}</p>

                    <img src={{pic}} height="100" width="100" class="img-circle">
     
	
<div></div>
<p style="padding-top: 50px"></p>
<button type="button" class="btn btn-block btn-default" data-toggle="popover" title="Coming Soon!" data-content="Here you will build & design your virtual store for free ! Earn money in your free time !" data-placement="bottom"> Design My Store</button>


            </div>
          
		  
		  </div>
		  
                </div>
            </div>
        </div>
    </section>



    <!-- To The Back Page -->

<script>
function goBack() {
    window.history.back();
}
</script>

<!--
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" onclick="goBack()">
            <i class="fa fa-chevron-left"></i>
        </a>
    </div>
</div>
-->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/freelancer.js"></script>
	
	 <script type="text/javascript" language="javascript" src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
                        <script>
                        $(document).ready(function() {
                                $('#example').DataTable({
    buttons: [
        {
            extend: 'excel',
            text: 'Save current page',
            exportOptions: {
                modifier: {
                    page: 'current'
                }
            }
        }
    ]
} );
                                $("#results").DataTable();
                              
                        } );
                        </script>



<script type="text/javascript">document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'interactive') {
       document.getElementById('load').style.visibility="visible";
       document.getElementById('contents').style.visibility="hidden";
  } else if (state == 'complete') {
      setTimeout(function(){
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
         document.getElementById('contents').style.visibility="visible";
      },1000);
  }
}</script>

<!--
    <script>
  $('#searchButton').on('click', function () {
    var $btn = $(this).button('')
    // business logic...
    $btn.button('reset')
  })
</script>
-->
	


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '275750752809365',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

</body>

</html>
